%% -*- erlang -*-

{minimum_otp_vsn,"24.0"}.
{erl_opts, [debug_info]}.
{deps, []}.

{plugins
,[{relx_fixup
  ,{git, "https://github.com/sg2342/relx_fixup.git"
   ,{branch, "master"}}}]}.

{provider_hooks, [{post, [{release, relx_fixup}]}]}.

{relx_fixup
,[{erts_whitelist
  ,[ "bin/erlexec"
   , "bin/beam.smp"
   , "bin/erl_child_setup"
   , "bin/epmd"
   , "bin/heart"
   , "bin/inet_gethost"
   , "bin/run_erl"
   , "bin/to_erl"]}]}.

{profiles
,[{prod
  ,[{erl_opts
    ,[no_debug_info
     ,warnings_as_errors
     ,warn_missing_specs
     ]}
   ,{relx
    ,[{dev_mode, false}
     ,{include_erts, true}
     ,{extended_start_script, false}
     ,{generate_start_script, false}
     ,{include_src, false}]}]}]}.


{relx
,[{release, {efbsdpkg, {semver, ""}},
   [efbsdpkg, sasl]}]}.
